.gym-products-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.gym-products-container .header{
  display: flex;
  width:70vw;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}


.search-bar {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.home-button {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.home-button:hover {
  background-color: #0056b3;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.product-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  /* width: calc(25% - 2rem); */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  width: 220px;

}

.product-item:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%; /* Ensures the image takes up the full width of its container */
  height: 200px; /* Sets a consistent height for all images */
  object-fit: fill; /* Crops the image to cover the entire area without distorting */
  border-radius: 8px;
}

.product-name {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.product-description {
  color: #555;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #000;
}

.add-to-cart-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-cart-button:hover {
  background-color: #5945a0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon {
  font-size: 40px;
  color: #333;
  cursor: pointer;
  margin-left: 20px;  
}


.cart-container1 {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 3px 7px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

