*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
#header{
display: flex;
  background-color: rgb(38, 38, 44);

align-items: center;
justify-content: center;

height: 7%;
padding: 20px;
} */


#imagesmain {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  background-image: url('../Resources/javier-santos-guzman-9MR78HGoflw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  overflow: hidden;
}

#imagesmain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  z-index: 1;
  pointer-events: none; /* Allows clicks to pass through */
}

#imagesmain > * {
  position: relative;
  z-index: 2;
}

  #mainpageimage {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three equal-width columns */
    grid-template-rows: auto; /* Row height adjusts automatically based on content */
    gap: 20px; /* Space between grid items */
    margin-left: 10px;
   
  }
  
  #mainpageimage img {
    width: 100%;
    height: 100%;
    object-fit:fill; /* Ensures images cover their grid cell without distortion */
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
  }
  